<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Basic Arrangement</title>

  <style>
    :root {
      display: flex;
      justify-content: center;
    }

    main {
      width: 1216px;
    }

    .grid {
      display: grid;
      max-width: 1216px;
    }

    .grid-item {
      height: 300px;
      border: 1px solid rgb(222, 72, 3);
    }

    code {
      background: black;
      border: 1px solid grey;
      color: orange;
      display: block;
    }
  </style>
</head>

<body>
  <main>
    <section class="grid">
      <div class="grid-item">David</div class="grid-item">
      <div class="grid-item">Stephanie</div>
      <div class="grid-item">Nole</div>
      <div class="grid-item">David</div class="grid-item">
      <div class="grid-item">Stephanie</div>
      <div class="grid-item">Nole</div>
    </section>
  </main>
</body>

</html>