<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fixed and Fluid Widths</title>

  <style>
    .grid {
      display: grid;
      max-width: 1216px;
      margin: 0 20px;
      grid-column-gap: 1em;
      grid-template-columns: 100px repeat(2, 1fr);
    }

    .grid-item {
      border: 1px solid rgb(222, 72, 3);
    }

    code {
      background: black;
      border: 1px solid grey;
      color: orange;
      display: block;
    }
  </style>
</head>

<body>
  <main>
    <p>CSS Grid allows us to mix-up fluid-width grid items, with fixed-width items;</p>
    <pre>
      <code>
      .grid {
        display: grid;
        max-width: 1216px;
        margin: 0 20px;
        grid-column-gap: 1em;
        grid-template-columns: 100px repeat(2, 1fr);
      }
      </code>
    </pre>
    <section class="grid">
      <div class="grid-item">David</div class="grid-item">
      <div class="grid-item">Stephanie</div>
      <div class="grid-item">Nole</div>
    </section>
  </main>
</body>

</html>