<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Responsive Columns</title>

  <style>
    .grid {
      display: grid;
      max-width: 1216px;
      margin: 0 20px;
      grid-template-columns: repeat(3, minmax(240px, 1fr));
    }

    .grid-item {
      border: 1px solid rgb(222, 72, 3);
    }
  </style>
</head>

<body>
  <main>
    <div class="grid">
      <div class="grid-item">David</div class="grid-item">
      <div class="grid-item">Stephanie</div>
      <div class="grid-item">Nole</div>
    </div>
  </main>
</body>

</html>